[user]
	name = massa142
	email = mstk214@gmail.com
[include]
    path = .gitconfig.local
[core]
	excludesfile = ~/.gitignore
	pager = less -r
        editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[alias]
	logg = log --stat --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cr %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
  	sync = !git checkout master && git pull origin master && git fetch -p origin && git branch -d $(git branch --merged | grep -v master | grep -v '*') && git-prune-remote-branch --noop
	mergelog = log --merges --pretty=format:'%C(yellow)%h %Cgreen%ci %Cblue%cn%Cred%d %Creset%s %C(cyan)%b'
	history = log --graph --date=short --decorate=short --pretty=format:'%C(yellow)%h %Cgreen%cd %Cblue%cn%Cred%d %Creset%s'
[rebase]
	autosquash = true
[push]
	default = current
[branch]
        autosetuprebase = always
[ghq]
    root = ~/src
[web]
    browser = google-chrome
[browse-remote "github.com"]
        top = https://{host}/{path}
        ref = https://{host}/{path}/tree/{short_ref}
        rev = https://{host}/{path}/commit/{commit}
        pr = https://{host}/{path}/pull/{short_ref}
        file = "https://{host}/{path}/{file.directory? and :tree or :blob}/{short_rev}/{file}{lines && \"#L%s\" % lines.join(\"-\")}"

